<!--
// Copyright (C) 2017 Robinson.
// https://github.com/robinson
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// http://www.apache.org/licenses/LICENSE-2.0
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
-->
<Odenwald>
    <GeneralSettings Interval="10" Timeout="120000" StoreRates="false" /> 
<!--interval;Timeout =minisecond-->

    <Plugins>
      <Plugin Name="WindowsPerformanceCounter" Class="Odenwald.WindowsPerformanceCounterPlugin.WindowsPerformanceCounterPlugin,Odenwald.WindowsPerformanceCounterPlugin"
             Enable="false" />
      <Plugin Name="Console" Class="Odenwald.ConsolePlugin.ConsolePlugin,Odenwald.ConsolePlugin"
              Enable="true" />
      <Plugin Name="OpcUa" Class="Odenwald.OpcUaPlugin.OpcUaPlugin,Odenwald.OpcUaPlugin"
              Enable="false" />
       <Plugin Name="OpcDa" Class="Odenwald.OpcDaPlugin.OpcDaPlugin,Odenwald.OpcDaPlugin"
              Enable="false" />
      <Plugin Name="InfluxDb" Class="Odenwald.InfluxDbPlugin.InfluxDbPlugin,Odenwald.InfluxDbPlugin"
            Enable="false" />
      <Plugin Name="KafkaProducer" Class="Odenwald.KafkaProducerPlugin.KafkaProducerPlugin,Odenwald.KafkaProducerPlugin"
         Enable="false" />
      <Plugin Name="KafkaConsumer" Class="Odenwald.KafkaConsumerPlugin.KafkaConsumerPlugin,Odenwald.KafkaConsumerPlugin"
        Enable="true" />
    </Plugins>
    <MetaData>
      <Tag Name="region" Value="ny"/>
      <Tag Name="env" Value="prod"/>
      <Tag Name="dc" Value="datacenter-1"/>
    </MetaData>
  </Odenwald>
