<OdenwaldConfig>
  <Settings ReadInterval="2" WriteInterval="1" Timeout="120" StoreRates="false" />
  <Adapters>
    <Adapter Type="input" Name="defaultInputAdapter1" Class="Odenwald.DefaultInputAdapter" 
             Processor="Odenwald.DefaultProcessor" InputMetric ="Odenwald.DefaultMetric" OutputMetric="" Enable="true" />
    <Adapter Type="input" Name="defaultInputAdapter2" Class="Odenwald.DefaultInputAdapter"
             Processor="Odenwald.DefaultProcessor" InputMetric ="Odenwald.DefaultMetric" OutputMetric="" Enable="true" />
    <Adapter Type ="output" Name="defaultOutputAdapter3" Class="Odenwald.Output.ConsoleRunnerAdapter.ConsoleRunnerAdapter,Odenwald.Output.ConsoleRunnerAdapter" 
             Processor="Odenwald.DefaultProcessor" InputMetric ="Odenwald.DefaultMetric" OutputMetric="Odenwald.DefaultMetric" Enable="true" />
    <Adapter Type ="output" Name="defaultOutputAdapter2" Class="Odenwald.Output.ConsoleRunnerAdapter.ConsoleRunnerAdapter,Odenwald.Output.ConsoleRunnerAdapter"
             Processor="Odenwald.DefaultProcessor" InputMetric ="Odenwald.DefaultMetric" OutputMetric="Odenwald.DefaultMetric" Enable="true" />
  </Adapters>
  <MetaData>
    <Tag Name="region" Value="ny"/>
    <Tag Name="env" Value="prod"/>
    <Tag Name="dc" Value="datacenter-1"/>
  </MetaData>
</OdenwaldConfig>