<OdenwaldConfig>
  <GeneralSettings Interval="30" Timeout="120" StoreRates="false" />
  <Plugins>
    <Plugin Name="WindowsPerformanceCounter" Class="Odenwald.WindowsPerformanceCounterPlugin.WindowsPerformanceCounterPlugin,Odenwald.WindowsPerformanceCounterPlugin"
           Enable="true" />
    <Plugin Name="Console" Class="Odenwald.ConsolePlugin.ConsolePlugin,Odenwald.ConsolePlugin"
            Enable="true" />
  </Plugins>
  <MetaData>
    <Tag Name="region" Value="ny"/>
    <Tag Name="env" Value="prod"/>
    <Tag Name="dc" Value="datacenter-1"/>
  </MetaData>
</OdenwaldConfig>