<OpcUa>
  <Settings Url="opc.tcp://localhost:51210/UA/SampleServer" FailoverTimeout="5000"/>
  <Measurements>
    <!--PollRate = samples/minutes, DeadbandAbsolute = Absolute max difference for a value not to be collected, Relative max difference for a value not to be collected-->
    <Measurement Name="Int32polled" DataType="number" Path="Data.Dynamic.Scalar.Int32Value"
                CollectionType="polled" PollInterval="2000" DeadbandAbsolute="0" DeadbandRelative="0.0"
                 Tags="region:ny;env:prod;dc:datacenter-1">

    </Measurement>
    <!--MonitorResolution = ms-->
    <Measurement Name="Int16monitored" DataType="number" Path="Data.Dynamic.Scalar.Int16Value"
                CollectionType="monitored" MonitorResolution="1000" DeadbandAbsolute="0" DeadbandRelative="0.0"
                 Tags="region:ny;env:prod;dc:datacenter-1">

    </Measurement>

  </Measurements>

</OpcUa>