<OpcUa>
  <Settings Url="opc.tcp://ac-l32-m7-lth1:51210/UA/SampleServer" FailoverTimeout="5000"/>
  <Measurements>
    <!--PollRate = samples/minutes, DeadbandAbsolute = Absolute max difference for a value not to be collected, Relative max difference for a value not to be collected-->
    <Measurement Name="Int32polled" DataType="number" Path="Data.Dynamic.Scalar.Int32Value" 
                 CollectionType="polled" PollInterval="1000" DeadbandAbsolute="0" DeadbandRelative="0.0" 
                 tags="region:ny;env:prod;dc:datacenter-1">
     
    </Measurement>
    <!--MonitorResolution = ms-->
    <Measurement Name="Int32monitored" DataType="number" Path="Data.Dynamic.Scalar.Int32Value"
                 CollectionType="monitored" MonitorResolution="1000" DeadbandAbsolute="0" DeadbandRelative="0.0"
                 tags="region:ny;env:prod;dc:datacenter-1"></Measurement>
    
  </Measurements>
 
</OpcUa>