<OpcDa>
  <Settings Url="opcda:///Softing.OPCToolboxDemo_ServerDA.1/{2E565242-B238-11D3-842D-0008C779D775}" FailoverTimeout="5000"/>
  <Measurements>
    <!--PollRate = samples/minutes, DeadbandAbsolute = Absolute max difference for a value not to be collected, Relative max difference for a value not to be collected-->
    <Measurement Name="IOPDynamicI8Polled" DataType="number" Path="IOP.dynamic.I8"
                CollectionType="polled" PollInterval="500" DeadbandAbsolute="0" DeadbandRelative="0.0"
                 Tags="region:ny;env:prod;dc:datacenter-1">

    </Measurement>
    <!--MonitorResolution = ms-->
    <Measurement Name="IOPDynamicI1Monitored" DataType="number" Path="IOP.dynamic.I1"
                CollectionType="monitored" MonitorResolution="500" DeadbandAbsolute="0" DeadbandRelative="0.0"
                 Tags="region:ny;env:prod;dc:datacenter-1">

    </Measurement>

  </Measurements>

</OpcDa>