<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="OdenwaldConfig" type="Odenwald.OdenwaldConfig, Odenwald" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!-- As per https://msdn.microsoft.com/en-us/library/jj152935(v=vs.110).aspx :
        supportedRuntime version specifies the CLR version that aligns with the .NET Framework version that your app supports. 
        Use the following strings:
          .NET Framework 1.0: "v1.0.3705"
          .NET Framework 1.1: "v1.1.4322"
          .NET Framework 2.0, 3.0, and 3.5: "v2.0.50727"
          .NET Framework 4 and 4.5 (including point releases such as 4.5.1): "v4.0"
  -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    <!--<supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />-->
  </startup>

  <log4net configSource="Config\log4net.config" />
  <OdenwaldConfig configSource="Config\OdenwaldConfig.config" />

</configuration>