<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Odenwald" type="Odenwald.OdenwaldConfig, Odenwald" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="OpcUa" type="Odenwald.Common.Opc.OpcPluginConfig, Odenwald.Common" />
    <section name="OpcDa" type="Odenwald.Common.Opc.OpcPluginConfig, Odenwald.Common" />
    <section name="InfluxDb" type="Odenwald.InfluxDbPlugin.InfluxDbPluginConfig, Odenwald.InfluxDbPlugin" />
    <section name="KafkaProducer" type="Odenwald.KafkaProducerPlugin.KafkaProducerPluginConfig, Odenwald.KafkaProducerPlugin" />
    <section name="KafkaConsumer" type="Odenwald.KafkaConsumerPlugin.KafkaConsumerPluginConfig, Odenwald.KafkaConsumerPlugin" />
  </configSections>

  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="'.'yyyy_MM_dd" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy/mm/dd HH:mm:ss,fff} %-5level %logger [%thread] %message %exception%newline"/>
      </layout>
    </appender>
  </log4net>

  <Odenwald>
    <GeneralSettings Interval="10" Timeout="120000" StoreRates="false" />
    <!--interval;Timeout =minisecond-->
    <Plugins>
      <Plugin Name="Console" Class="Odenwald.ConsolePlugin.ConsolePlugin,Odenwald.ConsolePlugin"
              Enable="true" />
      <Plugin Name="OpcUa" Class="Odenwald.OpcUaPlugin.OpcUaPlugin,Odenwald.OpcUaPlugin"
              Enable="false" />
      <Plugin Name="OpcDa" Class="Odenwald.OpcDaPlugin.OpcDaPlugin,Odenwald.OpcDaPlugin"
             Enable="false" />
      <Plugin Name="InfluxDb" Class="Odenwald.InfluxDbPlugin.InfluxDbPlugin,Odenwald.InfluxDbPlugin"
            Enable="true" />
      <Plugin Name="KafkaProducer" Class="Odenwald.KafkaProducerPlugin.KafkaProducerPlugin,Odenwald.KafkaProducerPlugin"
         Enable="false" />
      <Plugin Name="KafkaConsumer" Class="Odenwald.KafkaConsumerPlugin.KafkaConsumerPlugin,Odenwald.KafkaConsumerPlugin"
        Enable="true" />
    </Plugins>
    <MetaData>
      <Tag Name="region" Value="ny"/>
      <Tag Name="env" Value="prod"/>
      <Tag Name="dc" Value="datacenter-1"/>
    </MetaData>
  </Odenwald>

  <InfluxDb configSource="Config\InfluxDb.config" />
  <OpcUa configSource="Config\OpcUa.config" />
  <OpcDa configSource="Config\OpcDa.config" />
  <KafkaConsumer configSource="Config\KafkaConsumer.config" />
  <KafkaProducer configSource="Config\KafkaProducer.config" />
</configuration>